@tailwind base;
@tailwind components;
@tailwind utilities;

@mixin cell-border($color) {
  border: 1px solid $color;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  min-width: 320px;
}

#root {
  text-align: center;
  height: 100%;

  main {
    height: calc(100% - 60px);
  }
}

table {
  tr {
    // &:nth-child(odd) {
    //   background-color: #eee;
    // }

    td {

      &:first-child {
        width: 40%;
      }
      &:nth-child(2) {
        width: 60%;
      }
      
      padding: 2px 10px;

      input {
        width: 100%;
        background-color: transparent;
        padding: 2px 10px;
        border: 1px solid #ccc;
      }
    }
  }
}